:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #1a1a1a;
    color: aliceblue;
    text-align: center;
}